<div class="inputs-block">
  <p>email</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput [(ngModel)]="email" />
    </mat-form-field>
  </div>
  <p>password</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="button">
      <button (click)="inputValue()" mat-raised-button color="primary">
        {{ title }}
      </button>
    </div>
  </div>
</div>